# Stripe
STRIPE_CLIENT_ID=ca_U17p4Y4teZ0RAAke0ZDRY2y7mYe3Jmo0
STRIPE_CLIENT_SECRET=sk_test_51T2OsS8hC7UC08rkzkWYJSCaNkj6BzBbClj4LxHFb1hCUUL2P7nmB51J5pMkaPM2gtRqxngUzdIsgBS31I6TILuS00UKLezZQ6
STRIPE_REDIRECT_URI=https://localhost:4000/auth/stripe/callback

# Xero
XERO_CLIENT_ID=4D3129B6B71F49478E0AC65C75A4F59B
XERO_CLIENT_SECRET=8UH3iMbbn0JtjJPcrIiChKLVyOL0vR2qyW0UmcmEjA6TUe_t
XERO_REDIRECT_URI=https://localhost:4000/auth/xero/callback

# Server
PORT=4001
SESSION_SECRET=change-me-in-production
FRONTEND_URL=https://localhost:4000
